{% extends 'chat/main.html' %}
{% block content %}

<title>ChatHub | {{room |title}}</title>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

<p style="text-align: center; font-size: 2.5rem; color: #217925; margin: 1.5rem;">{{room |title}} - ChatHub</p>

<div id="display">
    <!-- <div class="container darker">
        <b>{{username}}</b>
        <p>Hello everyone! How are you</p>
        <span class="time-left">20th April,2023</span>
    </div> -->
</div>

<script>
    $(document).ready(()=>{
    setInterval(()=>{
        $.ajax({
            type: 'GET',
            url : "/getMessages/{{room}}/",
            success: (response)=>{
                // console.log(response);
                $("#display").empty();
                for (var key in response.messages)
                {
                    var temp="<div class='container darker'><b>"+response.messages[key].user+"</b><p>"+response.messages[key].value+"</p><span class='time-right'>"+response.messages[key].date+"</span></div>";
                    $("#display").append(temp);
                }
            },
            error: (response)=>{
              //  alert('An error occured')
            }
        });
    },400);
    })
</script>

<div class="container">
        <form id="post-form">
            {% csrf_token %}
            <input type="hidden" name="username" id="username" value="{{username}}"/>
            <input type="hidden" name="room_id" id="room_id" value="{{room_details.id}}"/>
            <input type="text" name="message" id="message" width="100%" placeholder="Enter your message here" />
            <input type="submit" value="Send">
        </form>
    </div>
        
<script type="text/javascript">
    $(document).on('submit','#post-form',(e)=>{
        e.preventDefault();
    
        $.ajax({
            type:'POST',
            url:'/send',
            data:{
                username:$('#username').val(),
                room_id:$('#room_id').val(),
                message:$('#message').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
          },
            success: (data)=>{
                //  alert(data)
            }
        });
        document.getElementById('message').value = '';
      });
</script>

{% endblock content %}